{% extends 'layout.html' %}
{% block content %}
 <!-- Services Section -->
 <section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My Services</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-paint-brush"></i>
                    <div class="text">Web Design</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet illo odio laborum at optio.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fa fa-database"></i>
                    <div class="text">Database Sys.</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet illo odio laborum at optio.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fa fa-fax"></i>
                    <div class="text">Data Analysis</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet illo odio laborum at optio.</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fa fa-code"></i>
                    <div class="text">Java Developer</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet illo odio laborum at optio.</p>
                </div>
            </div>
    </div>
</div>
</section>

{% endblock %}