{% extends 'layout.html' %}
{% block content %}
  <!-- Skills Section -->
  <section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My Skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My Creative Skills & Experience</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur cum esse, aperiam consequatur accusantium iure.</p>
                <a href="#">Read More</a>
            </div>
            <div class="column right">

                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>Proficient</span>
                    </div>
                    <div class="line html"></div>
                </div>

                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>Proficient</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>  
                        <span>Proficient</span> 
                    </div>
                    <div class="line data"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Java</span> 
                        <span>Intermediate</span> 
                    </div>
                    <div class="line java"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span> 
                        <span>Proficient</span> 
                    </div>
                    <div class="line python"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span> 
                        <span>Proficient</span> 
                    </div>
                    <div class="line mysql"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Data Analysis</span> 
                        <span>Proficient</span> 
                    </div>
                    <div class="line data"></div>
                </div>
                

            </div>
        </div>
    </div>
</section>



{% endblock %}